.heading-styler {
    height: 15vh;
    background-color: darkslategray;
    color: white;
}

.heading-font-styler {
    font-weight: bold;
    font-size: xx-large;
}

.navbar-button-styler {
    background-color: rgb(135, 131, 131);
    color: white;
    border: none;
    padding: 1%;
    white-space: nowrap;
    text-align: center;
}

nav {
    height: 100%;
    background-color: rgb(135, 131, 131);
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F1F1F1;
    top: 100%;
    left: 20%;
    white-space: nowrap;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(119, 119, 229);
    padding: 4% 2%;
    text-decoration: none;
    font-size: small;

}

.dropdown {
    position: relative;
    display: inline-flex;
    padding: 0 2%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-button-styler:hover {
    background-color: black;
}

.slider-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    overflow: hidden;
    border: 2px solid steelblue;
    max-height: 90%;
}

.slider-content {
    animation: slide 15s infinite;
    min-width: 100%;
    object-fit: contain;
}

/*Animation activated by keyframes*/
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-200%);
    }

    65% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-300%);
    }

    85% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(-400%);
    }
}

main {
    /* Subtracting header, nav bar and footer height to get main height */
    height: calc(100vh - 15vh - 7vh - 8vh);
}